.cardmember {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
    margin-top: 20px;
  }
  
  .cardmember:hover {
    box-shadow: 0 0 6px rgb(35 173 255);
  }
  
  .cardmember__image {
    width: 90%;
    height: 190px;
    cursor: pointer;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
  }
  
  .cardmember__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    color: #000077;
    text-align: center;
  }
  
  .cardmember__description {
    color: #757575;
    box-sizing: border-box;
  }
    
 