.memberintroduction {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .memberintroduction__title {
    color: #000044;
    text-align: center;
    border: 10px  solid #C6E2FF;
    height: 30px;
    margin: auto;
    width: 40%;
    padding: 20px 20px;
    font-size: 1.5em;
    font-weight: bold;

  }

  .memberintroduction__description {
    color: #000044;
    text-align: center;
    font-weight: bold;
    padding: 30px;
  }