.teamwork {
  background-color:#2A323F;
  padding-bottom: 150px;
  text-align:center;
}

.teamwork__title {
  padding-top:200px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
.teamwork__image{
  left:0;
  top:0;
  height: auto;
  width: 100%;
  object-fit: cover;
}
.teamwork__img {
  position: absolute;
  width:90%;
  height: 50%;
  transform: translate(-105.7%,55%);
  object-fit: cover;
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 550px)  {
  .teamwork__title {
    padding-top:70px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }
  .teamwork__img {  
    position: absolute;
    width:80%;
    height: 15%;
    transform: translate(-112%,50%);
  }
}
@media  (min-width: 551px) and (max-width:1024px ) {
    .teamwork__title {
      padding-top:115px;
      color: white;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }
    .teamwork__img {  
      position: absolute;  
      width:80%;
      height: 20%;
      transform: translate(-113%,50%);
    }
  }

